body
{
	margin: 0;
	padding: 0;
	/*background: #FFFFFF;*/
}

.ui-page 
{
	background:  #292929;
}

.ui-content
{
    font: 'Roboto Slab', serif;  
}

.center
{
	text-align:center;
	margin-top:-78px;
	width:100%;
	font-size:3em;
}

.navi
{
	margin-top:-100px;
 	margin-left: 640px;
  	flex: 20.33%;
  	padding: 5px;
  	color: #FFFFFF;
  	font-size:3em;
}

.center1
{
	text-align:center;
	width:100%;
	font-size:2em;
}

.center2
{
	text-align:right;
	width:100%;
	font-size:3em;
}

.center-button
{
  	margin: 0 auto;
}

.center-wrapper
{
  	text-align: center;
  	color: #000000;
  	font-size : 35px;
}

.center-wrapper * 
{
  	margin: 0 auto;
}
.video
{
	margin-left: 50px;

}


/*Nav Bar start*/
@import url(https://fonts.googleapis.com/css?family=roboto);
body,html 
{
	background-color: #292929;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'roboto', sans-serif;
}

.nav 
{
	position: relative;
	width: auto;
	display: inline-block;
	border: none;
}

.btn-nav 
{
	position: relative;
	top: 85px;
	left: 25px;
	background: transparent;
	border: none;
	padding: 10px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	z-index: 99999;
}

.btn-nav:focus 
{
  	outline: 0;
}

.icon-bar 
{
	display: block;
	margin: 6px 0;
	width: 40px;
	height: 5px;
	background-color: #FFFFFF;
}

.btn-nav:hover .icon-bar 
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	background-color: #FFFFFF;
}

.nav-content 
{
	position: fixed;
	top: -100%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(225, 171, 11);
	display: block;
	height: 100%;
	z-index: 9;
}

.nav-list 
{
	list-style: none;
	padding: 0;
	position: relative;
	top: 5%;
}

.item-anchor:after 
{
	content: "";
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0;
	bottom: 0;
	z-index: 9;
	background: transparent;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.item-anchor 
{
	color: #fff;
	font-size: 60px;
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
	padding: 10px;
}

.item-anchor:hover,
.item-anchor:focus 
{
	color: #000000;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.item-anchor:hover:after,
.item-anchor:focus:after
{
	width: 100%;
	background: #FCA311;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.nav-item 
{
	margin: 40px auto;
	text-align: center;
}

.animated 
{
	display: block;
	margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar
{
	background-color: #FFFFFF;
}

.animated:focus 
{
	cursor: pointer;
	z-index: 9999;
}

.middle 
{
	margin: 0 auto;
}

.icon-bar 
{
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
	z-index: 999999;
}

.animated .icon-bar 
{
	z-index: 999999;
	background-color: #FFFFFF;
}

.animated .top 
{
	-webkit-transform: translateY(10px) rotateZ(45deg);
	-moz-transform: translateY(10px) rotateZ(45deg);
	-ms-transform: translateY(10px) rotateZ(45deg);
	-o-transform: translateY(10px) rotateZ(45deg);
	transform: translateY(10px) rotateZ(45deg);
}

.animated .bottom 
{
	-webkit-transform: translateY(-11px) rotateZ(-45deg);
	-moz-transform: translateY(-11px) rotateZ(-45deg);
	-ms-transform: translateY(-11px) rotateZ(-45deg);
	-o-transform: translateY(-11px) rotateZ(-45deg);
	transform: translateY(-11px) rotateZ(-45deg);
}

.animated .middle
{
	width: 0;
}

@keyframes showNav 
{
	from 
	{
		top: -100%;
	}
	to 
	{
		top: 0;
	}
}

@-webkit-keyframes showNav 
{
	from 
	{
		top: -100%;
	}
	to 
	{
		top: 0;
	}
}

@-moz-keyframes showNav 
{
	from 
	{
		top: -100%;
	}
	to 
	{
		top: 0;
	}
}

@-o-keyframes showNav 
{
	from 
	{
		top: -100%;
	}
	to 
	{
		top: 0;
	}
}

.showNav 
{
	-webkit-animation: showNav 1s ease forwards;
	-moz-animation: showNav 1s ease forwards;
	-o-animation: showNav 1s ease forwards;
	animation: showNav 1s ease forwards;
}

@keyframes hideNav 
{
	from 
	{
		top: 0;
	}
	to 
	{
		top: -100%;
	}
}

@-webkit-keyframes hideNav 
{
	from 
	{
		top: 0;
	}
	to 
	{
		top: -100%;
	}
}

@-moz-keyframes hideNav 
{
	from 
	{
		top: 0;
	}
	to 
	{
		top: -100%;
	}
}

@-o-keyframes hideNav 
{
	from 
	{
		top: 0;
	}
	to 
	{
		top: -100%;
	}
}

.hideNav 
{
	-webkit-animation: hideNav 1s ease forwards;
	-moz-animation: hideNav 1s ease forwards;
	-o-animation: hideNav 1s ease forwards;
	animation: hideNav 1s ease forwards;
}

.hidden 
{
	display: none;
}

h1 
{ 
	position:absolute; 
	top:100px; 
	left:100px; 
	color:#fff;
}
.jquery-script-ads 
{ 
	position:absolute; 
	top:200px; 
	left:100px;
}
/*Nav Bar end*/


/*Slide Show Start*/
#wrapper 
{
	padding: 0px;
}

.rslides
{
	margin: 0 auto 40px;
}

.responsive-slider 
{
	margin-bottom: 50px;
	position: relative;
	margin-left: 110px;

}

.slider1
{
	margin-bottom: 50px;
	position: relative;
	margin-left: 90px;

}

.slider-callback 
{
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.slider-callback li 
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.slider-callback img 
{
	display: block;
	position: relative;
	z-index: 1;
	height: auto;
	width: 100%;
	border: 0;
}

.slider-callback .caption 
{
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	background: #000;
	background: rgba(0,0,0, .8);
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
}

.slider-callback_nav 
{
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("themes.gif") no-repeat left top;
	margin-top: -45px;
}

.slider-callback_nav:active 
{
	opacity: 1.0;
}

.slider-callback_nav.next 
{
	left: auto;
	background-position: right top;
	right: 0;
}

@media screen and (max-width: 600px) 
{
	.slider-callback_nav 	
	{
		top: 47%;
	}
}
/*Slide Show End*/


/*categories start*/
* 
{
	box-sizing: border-box;
}

.row 
{
	display: flex;
}

/* Create four equal columns that sits next to each other */
.column 
{
	margin-left: 16px;
	flex: 20.33%;
	padding: 5px;
}
/*categories end*/


/*Footer Start*/
.site-footer
{
	background-color:#26272b;
	padding:45px 0 20px;
	font-size:15px;
	line-height:24px;
	color:#737373;
}

.site-footer hr
{
	border-top-color:#bbb;
	opacity:0.5
}

.site-footer hr.small
{
	margin:20px 0
}

.site-footer h6
{
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	margin-top:5px;
	letter-spacing:2px
}

.site-footer a
{
	color:#737373;
}

.site-footer a:hover
{
	color:#3366cc;
	text-decoration:none;
}

.footer-links
{
	margin-left: 140px;
	padding-left:0;
	list-style:none
}

.footer-links li
{
	display:block
}

.footer-links a
{
	color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
	color:#3366cc;
	text-decoration:none;
}

.footer-links.inline li
{
	display:inline-block
}

.footer-links1
{
	margin-left: 210px;
	padding-left:0;
	list-style:none
}

.footer-links1 li
{
	display:block
}

.footer-links1 a
{
	color:#737373
}

.footer-links1 a:active,.footer-links1 a:focus,.footer-links1 a:hover
{
	color:#3366cc;
	text-decoration:none;
}

.footer-links1.inline li
{
	display:inline-block
}

.site-footer .social-icons
{
	text-align:right
}

.site-footer .social-icons a
{
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:6px;
	margin-right:0;
	border-radius:100%;
	background-color:#33353d
}

.copyright-text
{
	text-align: center;
	margin:0
}

@media (max-width:991px)
{
	.site-footer [class^=col-]
{
	margin-bottom:30px
}
}

@media (max-width:767px)
{
	.site-footer
{
	padding-bottom:0
}
	.site-footer .copyright-text,.site-footer .social-icons
{
	text-align:center
}
}

.social-icons
{
	padding-left:0;
	margin-bottom:0;
	list-style:none
}

.contact
{
margin-left:175px;
}

.contact1
{
margin-left:135px;
}

.social-icons li
{
	display:inline-block;
	margin-bottom:4px
}

.social-icons li.title
{
	margin-right:15px;
	text-transform:uppercase;
	color:#96a2b2;
	font-weight:700;
	font-size:13px
}

.social-icons a
{
	background-color:#eceeef;
	color:#818a91;
	font-size:16px;
	display:inline-block;
	line-height:44px;
	width:44px;
	height:44px;
	text-align:center;
	margin-right:8px;
	border-radius:100%;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
	color:#fff;
	background-color:#29aafe
}

.social-icons.size-sm a
{
	line-height:34px;
	height:34px;
	width:34px;
	font-size:14px
}

.social-icons a.facebook:hover
{
	background-color:#3b5998
}

.social-icons a.twitter:hover
{
	background-color:#00aced
}

.social-icons a.linkedin:hover
{
	background-color:#007bb6
}

.social-icons a.dribbble:hover
{
	background-color:#ea4c89
}

@media (max-width:767px)
{
	.social-icons li.title
{
	display:block;
	margin-right:0;
	font-weight:600
}
}
/*Footer End*/

/*Search Filter Start*/
.segmented-control 
{
  	text-align: center;
}

.segmented-control .ui-controlgroup 
{
  	margin: 0.2em;
}

.ui-control-active, .ui-control-inactive 
{
  	border-style: solid;
  	border-color: gray;
}

.ui-control-active 
{
  	background: #BBB;
}

.ui-control-inactive 
{
  	background: #DDD;
}
/*Search Filter End*/


/*Search bar Start*/
.center-block 
{
  	margin: auto;
  	display: block;
}
/*Search Bar End*/

/*Add Star Start*/
/*.fa-star 
{
    font-size : 50px;
    align-content: center;
}*/

/*.container-star 
{
    height: 100px;
    width: 600px;
    margin-left: 70px;
    margin: auto;
}*/
/*Add Star End*/

/*pop page start*/
.ui-content-popup
{
	font: 'Roboto Slab', serif; 
	margin-left: 55px;
	margin-top: 15px;
}
/*pop page End*/

/*Map Start*/
.map
{
	height: 400px;
	width: 100%;
	border-color: grey;
	margin-left: 1px}
/*Map End*/



